@model Customers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-secondary">

            <div class="card-header">
                <h3 class="card-title">Modify Customers</h3>
            </div>

            <form asp-controller="Customers" asp-action="Update_Post" method="post">

                <div class="card-body">
                    <div class="row">
                        <partial name="Referral/_UserForm" />
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary ml-2" onclick="location.href='@Url.Action("List", "Customers")'">Cancel</button>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}