@page
@model ForgotPasswordModel
@{
    Layout = null;
    ViewData["Title"] = "Forgot your password?";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ForgotPassword</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition register-page">
    <div class="card shadow">
        <div class="card-body px-5 py-4 text-center">
            <form method="post">
                <h1>Forgot Password</h1>
                <h5 class="mt-3 mb-4">Please enter your registered phone number.</h5>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="phone number" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="pt-4">
                    <button type="submit" class="btn btn-primary px-4 mr-2">Submit</button>
                    <a href="login" class="btn btn-secondary px-4">Cancel</a>
                    @*<button type="button" href="login" class="btn btn-secondary font-weight-bold px-4">Cancel</button>*@
                </div>
            </form>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
