@page
@model RegisterModel
@{
    Layout = null;
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        .HorizontalSummary li {
            float: left;
            margin-left: 30px;
        }

        .validation-summary-errors ul {
            padding-left: 0;
            padding-top: 0;
        }
    </style>
</head>

<body class="hold-transition register-page">
    <div class="w-50" style="margin-top:100px">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="card card-secondary">

                <div class="card-header">
                    <h4 class="card-title">Create a new account</h4>
                </div>

                <div class="card-body ">
                    <div class="row">
                        <div class="col-md-12 px-0" style="margin-top:-20px;">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger HorizontalSummary" })
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Input.FirstName"></label>
                                <input asp-for="Input.FirstName" class="form-control" placeholder="firstname" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Input.LastName"></label>
                                <input asp-for="Input.LastName" class="form-control" placeholder="lastname" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" placeholder="email" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Input.PhoneNumber"></label>
                                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="phonenumber" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" placeholder="password" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="confirm password" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a href="login" class="btn btn-secondary ">Cancel</a>
                </div>
            </div>
        </form>

    </div>
</body>
</html>

<partial name="Referral/_Scripts" />
<partial name="_ValidationScriptsPartial" />

