@page
@model ResetPasswordModel
@{
    Layout = null;
    ViewData["Title"] = "Reset password";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
   
</head>
<body class="hold-transition register-page">
    <form  method="post">
        <div class="card shadow card-secondary">

            <div class="card-header">
                <h4 class="card-title">Reset password</h4>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 px-0" style="margin-top:-20px;width:100%">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Input.PhoneNumber"></label>
                            <input asp-for="Input.PhoneNumber" type="number" class="form-control" placeholder="phonenumber" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                   maxlength="10" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" placeholder="password" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="confirm password" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary mr-2">Reset Password</button>
                <a href="login" class="btn btn-secondary">Cancel</a>
            </div>

        </div>
    </form>

</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
